<ion-header>
    <ion-navbar>
        <ion-row align-items-center>
            <ion-col col-auto class="nav-button">
                <button ion-button menuToggle color="secondary">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </ion-col>
            <ion-col text-center>
                <img src="assets/imgs/logo-no-rings.png" class="header-logo">
            </ion-col>
            <ion-col col-auto class="nav-button">
                <ion-buttons>
                    <button ion-button icon-only (click)="sendTokens()" color="secondary">
                        <img src="assets/imgs/send-button.svg">
                    </button>
                </ion-buttons>
            </ion-col>
        </ion-row>
    </ion-navbar>
    <div class="tokens">
        <p class="balance">
            {{balance | number:'0.2'}}
        </p>
        <p class="value">
            {{value | currency}} USD
        </p>
    </div>
</ion-header>

<ion-content padding>
    <ion-row class="home-tabs">
        <ion-col col-auto>
            <a (click)="displaySection = 'transactionsSection'"
               [class.active]="displaySection === 'transactionsSection'">Transactions</a>
        </ion-col>
        <ion-col col-auto>
            <a (click)="displaySection = 'newsSection'" [class.active]="displaySection === 'newsSection'">News</a>
        </ion-col>
    </ion-row>
    <div [ngSwitch]="displaySection">
        <div *ngSwitchCase="'transactionsSection'">
            <ion-row class="transaction-tabs">
                <ion-col col-auto>
                    <a (click)="transactionType = 'all'" [class.active]="transactionType === 'all'">All</a>
                </ion-col>
                <ion-col col-auto>
                    <a (click)="transactionType = 'sent'" [class.active]="transactionType === 'sent'">Sent</a>
                </ion-col>
                <ion-col col-auto>
                    <a (click)="transactionType = 'received'"
                       [class.active]="transactionType === 'received'">received</a>
                </ion-col>
            </ion-row>
            <div [ngSwitch]="transactionType">
                <ion-list *ngSwitchCase="'all'">
                    <button ion-item detail-none text-center
                            *ngIf="(!toTransactions || toTransactions.length === 0) && (!fromTransactions || fromTransactions.length === 0)">
                        No Transactions
                    </button>
                    <button ion-item detail-none (click)="onDetailsClicked(transaction)"
                            *ngFor="let transaction of toTransactions">
                        <ion-label>
                            <ion-grid>
                                <ion-row align-items-center>
                                    <ion-col col-2 class="profile-image">
                                        <img src="assets/imgs/default-avatar.png">
                                    </ion-col>
                                    <ion-col>
                                        <p class="date">
                                            {{getDate(transaction.time)}}
                                        </p>
                                        <p class="event">
                                            You received tokens
                                        </p>
                                    </ion-col>
                                    <ion-col col-auto class="amount received">
                                        +{{transaction.value | number}}
                                    </ion-col>
                                    <ion-col col-12 *ngIf="currentTransactionHash === transaction.hash" class="details">
                                        <transaction-details [transaction]="transaction"></transaction-details>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-label>
                    </button>

                    <button ion-item detail-none (click)="onDetailsClicked(transaction)"
                            *ngFor="let transaction of fromTransactions">
                        <ion-label>
                            <ion-grid>
                                <ion-row align-items-center>
                                    <ion-col col-2 class="profile-image">
                                        <img src="assets/imgs/default-avatar.png">
                                    </ion-col>
                                    <ion-col>
                                        <p class="date">
                                            {{getDate(transaction.time)}}
                                        </p>
                                        <p class="event">
                                            You sent tokens
                                        </p>
                                    </ion-col>
                                    <ion-col col-auto class="amount sent">
                                        -{{transaction.value | number}}
                                    </ion-col>
                                    <ion-col col-12 *ngIf="currentTransactionHash === transaction.hash" class="details">
                                        <transaction-details [transaction]="transaction"></transaction-details>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-label>
                    </button>
                </ion-list>

                <ion-list *ngSwitchCase="'sent'">
                    <button ion-item detail-none text-center *ngIf="!fromTransactions || fromTransactions.length === 0">
                        No Transactions
                    </button>
                    <button ion-item detail-none (click)="onDetailsClicked(transaction)"
                            *ngFor="let transaction of fromTransactions">
                        <ion-label>
                            <ion-grid>
                                <ion-row align-items-center>
                                    <ion-col col-2 class="profile-image">
                                        <img src="assets/imgs/default-avatar.png">
                                    </ion-col>
                                    <ion-col>
                                        <p class="date">
                                            {{getDate(transaction.time)}}
                                        </p>
                                        <p class="event">
                                            You sent tokens
                                        </p>
                                    </ion-col>
                                    <ion-col col-auto class="amount sent">
                                        -{{transaction.value | number}}
                                    </ion-col>
                                    <ion-col col-12 *ngIf="currentTransactionHash === transaction.hash" class="details">
                                        <transaction-details [transaction]="transaction"></transaction-details>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-label>
                    </button>
                </ion-list>

                <ion-list *ngSwitchCase="'received'">
                    <button ion-item detail-none text-center *ngIf="!toTransactions || toTransactions.length === 0">
                        No Transactions
                    </button>
                    <button ion-item detail-none (click)="onDetailsClicked(transaction)"
                            *ngFor="let transaction of toTransactions">
                        <ion-label>
                            <ion-grid>
                                <ion-row align-items-center>
                                    <ion-col col-2 class="profile-image">
                                        <img src="assets/imgs/default-avatar.png">
                                    </ion-col>
                                    <ion-col>
                                        <p class="date">
                                            {{getDate(transaction.time)}}
                                        </p>
                                        <p class="event">
                                            You received tokens
                                        </p>
                                    </ion-col>
                                    <ion-col col-auto class="amount received">
                                        +{{transaction.value | number}}
                                    </ion-col>
                                    <ion-col col-12 *ngIf="currentTransactionHash === transaction.hash" class="details">
                                        <transaction-details [transaction]="transaction"></transaction-details>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-label>
                    </button>

                </ion-list>
            </div>
        </div>

        <ion-list *ngSwitchCase="'newsSection'">
            <button ion-item detail-none (click)="openLink('https://medium.com/dispatchlabs')" class="news">
                <ion-label>
                    <ion-grid>
                        <ion-row align-items-center>
                            <ion-col col-2 class="profile-image">
                                <img src="assets/imgs/medium.png" style="border-radius: 50%">
                            </ion-col>
                            <ion-col col-10>
                                <p>
                                    Dispatch Labs is on Medium!
                                </p>
                                <p class="date">
                                </p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-label>
            </button>
        </ion-list>
    </div>
</ion-content>
