<ion-header>
    <ion-navbar>
        <button ion-button menuToggle color="secondary">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-segment color="secondary" padding>
            <!--<ion-segment-button value="Paid">
                All
            </ion-segment-button>-->
            <ion-segment-button value="Free" (click)="viewSent = true">
                Sent
            </ion-segment-button>
            <ion-segment-button value="Top" (click)="viewSent = false">
                Received
            </ion-segment-button>
        </ion-segment>
        <ion-buttons end>
            <button ion-button icon-only (click)="sendTokens()" color="secondary">
                <ion-icon name="send"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-grid>
        <ion-row>
            <ion-col padding-left col-auto>
                <h3 class="my0"><img src="assets/imgs/wallet.svg" class="icon"></h3>
            </ion-col>
            <ion-col text-right padding-right class="ellipsis">
                <h3 class="font-weight-light my0 ellipsis">{{config.defaultAccount.address}}</h3>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col padding-left col-auto>
                <h3 class="my0"><img src="assets/imgs/tokens.svg" class="icon"></h3>
            </ion-col>
            <ion-col text-right padding-right>
                <h3 class="font-weight-light my0">1,000,000</h3>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content padding>
    <ion-list no-border *ngIf="viewSent === true">
        <button ion-item (click)="transactionDetails()" *ngFor="let transaction of fromTransctions">
            <ion-label>
                <ion-grid>
                    <ion-row padding-bottom>
                        <span class="wrap-text"><b>From:</b> {{transaction.to}}</span>
                    </ion-row>
                    <ion-row>
                        <ion-col no-padding>
                            <b>{{transaction.time}} tokens</b>
                        </ion-col>
                        <ion-col text-right no-padding>
                            <span class="grey-text">{{transaction.time}}</span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-label>
        </button>
    </ion-list>
    <ion-list no-border *ngIf="viewSent === false">
        <button ion-item (click)="transactionDetails()" *ngFor="let transaction of toTransactions">
            <ion-label>
                <ion-grid>
                    <ion-row padding-bottom>
                        <span class="wrap-text"><b>To:</b> {{transaction.from}}</span>
                    </ion-row>
                    <ion-row>
                        <ion-col no-padding>
                            <b>{{transaction.value}} tokens</b>
                        </ion-col>
                        <ion-col text-right no-padding>
                            <span class="grey-text">{{transaction.time}}</span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-label>
        </button>
    </ion-list>
</ion-content>
