<table>
    <tr>
        <th>
            Time:
        </th>
        <th>
            {{getDate(transaction.time)}}
        </th>
    </tr>
    <tr>
        <td>
            Hash:
        </td>
        <td>
            {{transaction.hash}}}}
        </td>
    </tr>
    <tr>
        <td>
            From:
        </td>
        <td>
            {{transaction.from}}
        </td>
    </tr>
    <tr>
        <td>
            Signature:
        </td>
        <td>
            {{transaction.signature}}
        </td>
    </tr>
</table>