<table>
    <tr>
        <th>
            Time:
        </th>
        <th>
            {{getDate(transaction.time)}}
        </th>
    </tr>
    <tr>
        <td>
            Hash:
        </td>
        <td>
            MIGeMA0GCSqGSIb3DQEBAQUAA4GMADCBiAKBgH/YVs
        </td>
    </tr>
    <tr>
        <td>
            From:
        </td>
        <td>
            MIGeMA0GCSqGSIb3DQEBAQ
        </td>
    </tr>
    <tr>
        <td>
            Signature:
        </td>
        <td>
            MIGeMA0GCSqGSIb3DQEBAQUAA4GMADCBiAKBgHYVsMIGeMA0GCSqGSIb3DQEBAQUAA4G
        </td>
    </tr>
</table>